body {
  background-color: #e9edc9;
}

h1 {
  color: #d4a373;
}

.container {
  width: 500px;
  height: 500px;
}

div {
  background-color: #d6dfff;
  text-align: center;
}

button {
  background: none;
  color: #ffa260;
  border: 2px solid;
  padding: 1em 2em;
  font-size: 1em;
  transition: all 0.2s;
}

button:hover {
  border-color: red;
  color: white;
  box-shadow: 0 0.5em 0.5em -0.4em red;
  transform: translateY(-0.5em);
  cursor: pointer;
}
