body {
  background-color: #948c88;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

h1 {
  color: #000000;
}
a {
  text-decoration: none;
}

.jumbroton {
  background-color: white;
  border-radius: 10px;
  padding: 15px 25px;
  width: 100%;
  max-width: 960px;
  display: flex;
  flex-direction: column;
  text-align: center;
  text-transform: uppercase;
}

.content {
  display: flex;
  flex-direction: column;
  text-align: center;
  text-transform: uppercase;
}

.social {
  padding: 10px 20px;
}

.button {
  border: 1px solid #ff9dba;
  border-radius: 10px;
  color: black;
  display: inline-block;
  padding: 15px 35px;
  text-decoration: none;
  margin: 25px 5px;
  transition: background-color 200ms ease-in-out;
}

.button:nth-of-type(1):hover {
  border-color: red;
  color: transparent;
  background: no-repeat center url(/img/socialmedia/youtube.png);
  box-shadow: 0 0.5em 0.5em -0.4em red;
  transform: translateY(-0.25em);
  cursor: pointer;
}

.button:nth-of-type(2):hover {
  border-color: black;
  color: transparent;
  background: no-repeat center/40% url(/img/socialmedia/x.png);
  box-shadow: 0 0.5em 0.5em -0.4em black;
  transform: translateY(-0.25em);
  cursor: pointer;
}

.button:nth-of-type(3):hover {
  border-color: purple;
  color: transparent;
  background: no-repeat center/25% url(/img/socialmedia/instagram.png);
  box-shadow: 0 0.5em 0.5em -0.4em purple;
  transform: translateY(-0.25em);
  cursor: pointer;
}

.button:nth-of-type(4):hover {
  border-color: black;
  color: transparent;
  background: no-repeat center/35% url(/img/socialmedia/tiktok.png);
  box-shadow: 0 0.5em 0.5em -0.4em black;
  transform: translateY(-0.25em);
  cursor: pointer;
}
