body {
  background-color: #948c88;
  margin: 0;
  padding: 0;
}

h1 {
  color: #ffffff;
}

.container {
  width: 500px;
  height: 1000px;
}

.jumbroton {
  font-size: 20px;
  padding: 60px;
  background-color: #4d3a2c;
  text-align: center;
  color: white;
}

/* div {
  background-color: #d6dfff;
  text-align: center;
  margin: auto 0;
  padding: auto 0;
} */

nav {
  background-color: red;
  display: inline;
}

a {
  text-decoration: none;
}

button {
  background: none;
  color: #ffffff;
  border: 2px solid;
  padding: 1em 2em;
  font-size: 1em;
  transition: all 0.2s;
}

button:hover {
  border-color: red;
  color: white;
  box-shadow: 0 0.5em 0.5em -0.4em red;
  transform: translateY(-0.5em);
  cursor: pointer;
}
